<nav class="navbar fixed-top navbar-dark bg-dark">
    
    <li class="navbar-brand"><a class="navbar-brand" href="/registro">Nuevo Destinatario</a></li>  
    <li class="navbar-brand"><a class="navbar-brand" href="/home">Transferir</a></li>
    <button class="btn btn-outline-danger my-2 my-sm-0" type="button" >
      Salir
    </button>
    
    
      
  </nav>

  <div class="limiter animated fadeInRight">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form (ngSubmit)="registrar(form)" #form="ngForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Crear nueva cuenta
                </span>

                <div *ngIf="messageFailure !== undefined" class="alert alert-danger wrap-input100 m-b-16" role="alert">{{ messageFailure }}</div>

                <span *ngIf="form.submitted && form.controls['rut'].errors" class="text-danger animated fadeIn">El rut no es válido</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text"
                           name="rut"                 
                           placeholder="RUT"
                           required
                           [(ngModel)]="usuario.rut">
                </div>

                <span *ngIf="form.submitted && form.controls['nombre'].errors" class="text-danger animated fadeIn">El Nombre es requerido.</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text"
                           name="nombre"
                           placeholder="Nombre"
                           required
                           [(ngModel)]="usuario.nombre">
                </div>

                <span *ngIf="form.submitted && form.controls['celular'].errors" class="text-danger animated fadeIn">Celular</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text"
                           name="celular"
                           placeholder="Celular"
                           required
                           [(ngModel)]="usuario.celular">
                </div>

                <span *ngIf="form.submitted && form.controls['email'].errors" class="text-danger animated fadeIn">El email no tiene el formato correcto</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text"
                           name="email"
                           placeholder="Email"
                           pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                           required
                           [(ngModel)]="usuario.email">
                </div>
                
                <span *ngIf="form.submitted && form.controls['banco'].errors" class="text-danger animated fadeIn">El banco es requerido</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text"
                           name="banco"
                           placeholder="Banco"
                           required
                           [(ngModel)]="usuario.banco">
                </div> 
                

                <span *ngIf="form.submitted && form.controls['tipo_cuenta'].errors" class="text-danger animated fadeIn">El tipo de cuenta es requerido</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text"
                           name="tipo_cuenta"
                           placeholder="Tipo de Cuenta"
                           required
                           [(ngModel)]="usuario.tipo_cuenta">
                </div>

                <span *ngIf="form.submitted && form.controls['nro_cuenta'].errors" class="text-danger animated fadeIn">El numero de cuenta es requerido</span>
                <div class="wrap-input100 m-b-16">
                    <input class="input100" 
                           type="text"
                           name="nro_cuenta"
                           placeholder="Numero de cuenta"
                           required
                           [(ngModel)]="usuario.nro_cuenta">
                </div>
                
               

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        registrar usuario
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
  
