<nav class="navbar fixed-top navbar-dark bg-dark">

    <li class="navbar-brand"><a class="navbar-brand" href="/registro">Nuevo Destinatario</a></li>  
    <li class="navbar-brand"><a class="navbar-brand" href="/home">Trasnferir</a></li>
    
    <button class="btn btn-outline-danger my-2 my-sm-0" type="button" >
      Salir
    </button>
  
  </nav>










  <!-- <div class="container">
    
  
    <ul class="list">
      <li *ngFor="let item of result ">
     
        {{item | json}}
      </li>
    </ul>
  
    {{result | json}}
  </div> -->


  <!-- <div class="container">
    
  
    <ul class="list">
      <li *ngFor="let item of result">

        {{item | json}}
      </li>
    </ul>
  
    {{data | json}}
  </div> -->

 
  <!-- <div class="container">
    
  
    <ul class="list">
  
      <li *ngFor="let res of listFiltered ">
        {{res }}
      </li>
    </ul>

  </div> -->
  <div class="limiter animated fadeInRight">
    <div class="container-login100">


  <!-- <div class="container">
  
    
  
    <ul class="list">
      <li *ngFor="let item of result ">
 
        {{item}}
      </li>
    </ul>

    {{result}}
  </div> -->


   <!-- <div class="container">
    
  
    <ul class="list">
      <li *ngFor="let item of listFiltered | json">

        {{item | json | json}}
      </li>
    </ul>
  
    {{listFiltered | json | json}}

    {{this.api | json }}
  </div> -->


  <div class="search-bar">
    <input type="text" class="search" placeholder="¡Comienza a buscar!" (keyup)="searchTerm$">
  </div>


    </div>
  </div>

 

  <div class="container">
    
  
    <!-- <ul class="list">
      <li *ngFor="let item of result ">
     
        {{item}}
      </li>
    </ul>

    {{result}} -->
    {{this.api | json }}
  </div>
